extends layout 
 
block content 
  h1= title 
  if(toshow==null)
    h2 No instance to Update 
  else 
  - let frogid = toShow._id 
  - let frog_type = toShow.age 
  - let frogcost = toShow.color 
  - let frogsize = toShow.lifeSpan 
   
  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{frogid} 
  - let actionid = "/resource/frogs/" + frogid 
  form(id='FrogForm', action= actionid, method="PUT") 
    div.form-group 
        label.frogAttr(for='age') Frog age 
        input#frog_type(type='number', name='age', value= frog_type ) 
    div.form-group 
        label.frogAttr(for='color') Frog color 
        input#size(type='text', name='color', value= frogcost ) 
    div.form-group 
        label.frogAttr(for='lifeSpan') Frog lifeSpan 
        input#cost(type='text', name='lifeSpan', value= frogsize ) 
    input(type="submit") 
 
  script. 
    document.forms['FrogForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    }); 